:root {
  --main-font: "Roboto",
      sans-serif;
  --secondary-font: "Raleway",
      sans-serif;
  --main-color: #2196f3;
  --logo-color: #000000;
  --tittle-color: #212121;
  --description-color: #757575;
  --btn-ftr-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
  --background-color: #2F303A;
  --button-color: #188CE8;
  --employees-color: #F5F4FA;
  --icon-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* width: 100%;
  margin: 0;
  overflow-x: hidden; */
  font-family: var(--main-font);
  background-color: var(--btn-ftr-color);
  color: var(--tittle-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px solid tomato; */
}

.navigation__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.navigation__logo-dark {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  /*letter-spacing: 0.03em;*/
  color: var(--logo-color);
}

.footer-cont1__logo-light {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  /*letter-spacing: 0.03em;*/
  color: var(--btn-ftr-color);
}

.footer-cont1__logo {
  display: inline-block;
  margin-top: 0px;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196F3;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 92px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  width: 170px;
  height: 92px;
  border-radius: 4px;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--button-color);
  color: var(--button-color);
}

.clients__icons {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.employees__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /*letter-spacing: 0.03em;*/
  color: var(--tittle-color);
  margin-top: 0px;
  text-align: center;
}

.employees__position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--description-color);
  margin-top: 10px;
}

.employees__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.employees__card:not(:last-child) {
  margin-right: 30px;
}

.employees__card {
  background: var(--btn-ftr-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employees__subscription {
  padding: 30px;
}

.employees__social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.employees__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.employees__social-item:not(:last-child) {
  margin-right: 10px;
}

.employees__social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.employees__social-link:hover, .employees__social-link:focus {
  background-color: var(--button-color);
  color: var(--btn-ftr-color);
}

.footer-cont1__address {
  font-style: normal;
  display: block;
}

.footer-cont1__geo-lokation {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--btn-ftr-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-cont1__geo-lokation:hover, .footer-cont1__geo-lokation:focus {
  color: var(--main-color);
}

.footer-cont1__contact-mail {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--contact-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-cont1__contact-mail:hover, .footer-cont1__contact-mail:focus {
  color: var(--main-color);
}

.footer-cont1__contact-phone-number {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--contact-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-cont1__contact-phone-number:hover, .footer-cont1__contact-phone-number:focus {
  color: var(--main-color);
}

.footer-cont1__address {
  margin-top: 20px;
}

.footer-cont1__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-cont__icon {
  width: 20px;
  height: 20px;
  color: var(--btn-ftr-color);
}

.footer-cont__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer-cont__item:not(:last-child) {
  margin-right: 10px;
}

.footer-cont__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-cont__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--footer-icon-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-cont__link:hover, .footer-cont__link:focus {
  background-color: var(--button-color);
}

.footer-cont__title {
  font-weight: 700;
  line-height: 1.62;
  text-transform: uppercase;
  color: var(--btn-ftr-color);
}

.footer-cont2__input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
  padding-left: 16px;
}

.footer-cont2__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-cont2__input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.footer-cont2__btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 12px;
  color: #FFFFFF;
  padding-left: 29px;
  background-color: var(--main-color);
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-cont2__btn:hover, .footer-cont2__btn:focus {
  cursor: pointer;
  background-color: var(--button-color);
}

.footer-cont2__svg-telegram {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  /* margin: 0 auto; */
}

.gallery {
  padding: 94px 0px;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__item:not(:last-child) {
  margin-right: 30px;
}

.gallery__item {
  position: relative;
}

.gallery__div {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
}

.gallery__text {
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-ftr-color);
}

.menu__link {
  font-weight: 500;
  /*font-size: 14px;*/
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 30px 0px;
  color: var(--tittle-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--main-color);
}

.current {
  position: relative;
  color: var(--main-color);
}

.current::after {
  position: absolute;
  content: "";
  display: inline;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  bottom: 0;
  border-radius: 2px;
}

.connection__mail,
.connection__phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-color);
  padding: 30px 0px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connection__mail:hover, .connection__mail:focus,
.connection__phone-number:hover,
.connection__phone-number:focus {
  color: var(--main-color);
}
.connection__mail:hover, .connection__mail:focus,
.connection__phone-number:hover,
.connection__phone-number:focus {
  color: var(--main-color);
}

.connection__icons {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.icons-tell {
  width: 10px;
  height: 16px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.connection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connection__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection__phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection__item:not(:last-child) {
  padding-right: 50px;
}

.modal-list__svg {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.modal-list {
  position: relative;
  margin-bottom: 10px;
}
.modal-list:focus-within > .modal-list__svg, .modal-list:hover > .modal-list__svg {
  cursor: pointer;
  fill: var(--button-color);
}
.modal-list:focus-within > .modal-list__input, .modal-list:hover > .modal-list__input {
  border-color: var(--button-color);
  cursor: pointer;
}
.modal-list:focus-within > .modal-list__comment, .modal-list:hover > .modal-list__comment {
  cursor: pointer;
  border-color: var(--button-color);
}

.modal__btn-svg {
  fill: currentColor;
  width: 11px;
  height: 11px;
}

.modal__window {
  width: 449px;
}

.modal-list__input {
  width: 448px;
  height: 40px;
  padding-left: 35px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-list__label {
  color: rgb(117, 117, 117);
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;
}

.modal-list__comment {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
  padding: 12px 16px 12px 16px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__check-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.71;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__text {
  margin-left: 7px;
}

.modal__check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
}

.modal__svg {
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__check:checked + .modal__check-desc::before {
  background-color: #2196f3;
  background-image: url("../images/icons/check-modal.svg");
  background-position: center;
  border-color: 4px solid #2196f3;
  cursor: pointer;
  border: none;
}

.modal__contract {
  color: var(--main-color);
}

.modal__window-button {
  min-width: 200px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding: 10px 55px 10px 55px;
  background-color: var(--main-color);
  border: none;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__window-button:hover, .modal__window-button:focus {
  cursor: pointer;
  background-color: var(--button-color);
}

.projects__direction-btn {
  border-radius: 4px;
  background-color: var(--employees-color);
  font-family: var(--main-font);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--employees-color);
  color: var(--tittle-color);
  border: none;
  padding: 6px 22px 6px 22px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__direction-btn:hover, .projects__direction-btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--main-color);
  color: var(--btn-ftr-color);
}

.cases__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--tittle-color);
}

.cases__direction {
  font-size: 16px;
  line-height: 1.88;
  color: var(--description-color);
  margin-top: 4px;
}

.projects__directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__directions-item:not(:last-child) {
  margin-right: 8px;
}

/* .buttons-list{
    padding-top:80px;
    width: 455px;
    margin: 0 auto;

} */
.cases {
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}

.cases__div {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border: 1px solid #EEEEEE;
}

.cases__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cases__link:hover, .cases__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cases__link:hover .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
.cases__link:focus .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.cases__list-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 63px 24px 63px 24px;
  font-family: var(--main-font);
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.28;
  color: var(--btn-ftr-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.skills__suptittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  /*letter-spacing: 0.03em;*/
  text-transform: uppercase;
  color: var(--tittle-color);
  margin-top: 30px;
}

.skills__text {
  /*font-size: 14px;*/
  line-height: 1.71;
  width: 270px;
  height: 75px;
  margin-top: 10px;
  /* or 171% */
  /* letter-spacing: 0.03em;*/
  color: var(--description-color);
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__item:not(:last-child) {
  margin-right: 30px;
}

.skills__div {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills__icon {
  width: 70px;
  height: 70px;
}

.clients__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--tittle-color);
  padding-top: 94px;
  padding-bottom: 50px;
}

.employees {
  background-color: var(--employees-color);
  padding: 94px 0px;
}

.employees__tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.footer {
  background-color: var(--background-color);
  padding: 60px 60px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-cont1 {
  margin-right: 64px;
}

.footer-cont2 {
  margin-left: auto;
}

.gallery__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  /*letter-spacing: 0.03em;*/
  margin-top: 0px;
  text-align: center;
  color: var(--tittle-color);
  margin-bottom: 50px;
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}

.page-header {
  border: 1px solid #ECECEC;
  height: 80px;
  /* align-items: center; */
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  background-color: var(--background-color);
  max-width: 1600px;
  height: 600px;
  padding: 200px 0px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--btn-ftr-color);
  text-align: center;
  /* padding-top: 200px; */
  width: 696px;
  display: block;
  margin: 0 auto;
}

.hero__modal-btn {
  font-family: var(--main-font);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-ftr-color);
  background-color: var(--main-color);
  /* margin-right: 500px;
  margin-left: 500px; */
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__modal-btn:hover, .hero__modal-btn:focus {
  background-color: var(--button-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--btn-ftr-color);
}

.modal__close-btn {
  position: absolute;
  background-color: var(--btn-ftr-color);
  border-radius: 50%;
  width: 30px;
  top: 8px;
  right: 8px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  cursor: pointer;
  color: var(--button-color);
}

.modal__window {
  width: 448px;
  margin: 0 auto;
}

.modal__tittle {
  color: var(--tittle-color);
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 82px;
}

.skills {
  padding-top: 94px;
}

.skills__tittle {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-font: "Roboto",
      sans-serif;
  --secondary-font: "Raleway",
      sans-serif;
  --main-color: #2196f3;
  --logo-color: #000000;
  --tittle-color: #212121;
  --description-color: #757575;
  --btn-ftr-color: #ffffff;
  --contact-color: rgba(255, 255, 255, 0.6);
  --background-color: #2F303A;
  --button-color: #188CE8;
  --employees-color: #F5F4FA;
  --icon-color: #afb1b8;
  --footer-icon-color: rgba(255, 255, 255, 0.1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */