:root {
    --main-font: 'Roboto',
        sans-serif;
    --secondary-font: 'Raleway',
        sans-serif;
    --main-color: #2196f3;
    --logo-color: #000000;
    --tittle-color: #212121;
    --description-color: #757575;
    --btn-ftr-color: #ffffff;
    --contact-color: rgba(255, 255, 255, 0.6);
    --background-color: #2F303A;
    --button-color: #188CE8;
    --employees-color: #F5F4FA;
    --icon-color: #afb1b8;
    --footer-icon-color: rgba(255, 255, 255, 0.1);


}